@using DNAMais.Domain.Entidades
@using DNAMais.Framework
@using DNAMais.BackOffice.Facades

@model ContratoEmpresa

@{
    Layout = "~/Views/Shared/_Listagem.cshtml";

    ViewBag.Title = "DNA+ :: Precificação";
    ViewBag.TituloPagina = "Precificação";
    ViewBag.TituloGrid = "Precificação - Contrato: " + ((ContratoEmpresa)Model).Id.ToString() + "  -  " + "Empresa: " + ((ContratoEmpresa)Model).ClienteEmpresa.RazaoSocial;

    ViewData["messageAnswer"] = "Salvar";
    ViewData["messageReturn"] = "Voltar para lista de contratos";

    bool locked = ViewData["LOCKED"] == null ? false : (bool)ViewData["LOCKED"];

    var precificacoes = ((ContratoEmpresa)Model).ContratosEmpresasPrecificacoesProdutos.ToList();

    List<SelectListItem> produtosContrato = new ContratoEmpresaFacade(null).ListarProdutosContrato().ToList().Select(i => new SelectListItem
    {
        Value = i.CodigoProduto.ToString(),
        Text = i.CodigoProduto + " - " + i.Produto.Nome
    }).ToList();

    produtosContrato.Insert(0, new SelectListItem { Value = "", Text = "Selecione um Produto" });

}

@section grid
{

    <div class="col-lg-12" style="width: 100%;">

        @Html.DnaMaisDropDownList(
         "Produtos autorizados",
         "CodigoProduto",
         null,
         itens: produtosContrato,
         width: 300,
        disabled: locked

        )
    </div>

    <div style="margin-top: 60px;" id="produtoFaixa">
    </div>

    <script>
        $(document).ready(function () {

            var CodigoProduto = getUrlParameter('CodigoProduto');

            if (CodigoProduto != "") {

                $("#CodigoProduto").val(CodigoProduto);

                CarregarCategoriaFaixas(CodigoProduto);
            }

            $("#CodigoProduto").change(function () {

                var CodigoProduto = $("#CodigoProduto").val();

                console.log(CodigoProduto);

                CarregarFaixasProduto(CodigoProduto);

            });
        });

        function CarregarFaixasProduto(CodigoProduto) {

            var url = '@Url.Content("~/ContratoEmpresa/PrecificacaoProduto")';
                $.ajax(
                {
                    type: 'GET',
                    url: url,
                    data: { idContrato: '@(((ContratoEmpresa)Model).Id.ToString())', codigoProduto: CodigoProduto },
                    success: function (data) {
                        $('#produtoFaixa').html(data);
                    }
                });
            }
            function getUrlParameter(name) {
                name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
                var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
                var results = regex.exec(location.search);
                return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
            };
    </script>

}