/* Add here all your CSS customizations */

.comment-text-area {
  width: calc(100%);
  height: auto;
}

.textinput {
    width: 100%;
    min-height: 35px;
    outline: none;
    resize: none;
    border: 1px solid #f0f0f0;
    padding:10px 10px 10px 10px;
}