@{
    ViewBag.Title = "DNA+ | Newsletter";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="container">
    <div class="row">
        <div role="main" class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <hr class="tall">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 center">
                        <h1 class="mb-sm small">Seu e-mail foi confirmado com sucesso.</h1>
                        <p class="lead center">Em breve estaremos lhe enviando nossas novidades.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr class="tall">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
