<div class="row">
    <form id="frmPesquisaCPF" action="@Url.Action("PesquisarPessoaFisicaPorCPF", "AreaRestrita")" method="post" autocomplete="off">
        <div class="col-md-12">
            <label>CPF</label>
            <input type="text" class="form-control" id="txtCpfPesquisaPorCpf" name="txtCpfPesquisaPorCpf" style="width: 200px;" onkeypress="return onlyNumbers(event);" onkeyup="maskCPF(this, event);" maxlength="14" />
        </div>

        <div class="col-md-12" style="margin-top: 20px;">
            <input type="submit" value="Pesquisar" class="btn btn-danger" />
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('#cpf').focus();
        $('#frmPesquisaCPF').on('submit', function (event) {
            if (!$('#frmPesquisaCPF').valid()) {
                return;
            }
            event.preventDefault();
            $.ajax({
                url: this.action,
                type: 'GET',
                data: $(this).serialize(),
                context: $('#divResultadoPesquisaPF'),
                success: function (result) {
                    $('#divResultadoPesquisaPF').html(result);
                    $('#divResultadoPesquisaPF').fadeIn(500);
                    $('#btnNovaPesquisa').fadeIn(2500);
                    $('#divLoading').hide();
                },
                beforeSend: function () {
                    $('#divFiltros').hide();
                    $('#divLoading').show();
                },
                error: function (a, b, c) {
                    alert(a.responseText.replace('"', '').replace('"', ''));
                }
            });
        });
    });
</script>